In [1]:
import pandas as pd
import numpy as np

In [2]:
pred = pd.read_csv('predictors.csv')

In [3]:
msf = pd.read_csv('msf.csv')

In [4]:
# shift the return so that we have the future return to predict
msf['ret'] = msf.groupby(['permno']).ret.shift(-1)

In [5]:
df = pred.merge(msf).query('yyyymm>200000').dropna(subset=['ret'])

In [6]:
from pycaret.regression import *

In [7]:
df['ret'] = (df.ret*10000).astype(int)

In [8]:
training_data = df.query("yyyymm<201800")

In [9]:
test_data = df.query("yyyymm>201800")

In [10]:
pred_ret = setup(data = training_data, target = 'ret', session_id=123,
                  normalize = True, 
                  combine_rare_levels = True, rare_level_threshold = 0.05,
                  remove_multicollinearity = True, multicollinearity_threshold = 0.95, 
                  log_experiment = True, experiment_name = 'pred_ret',
                test_data=test_data
)

In [11]:
compare_models()

In [ ]:
xgb = create_model('xgboost')

IntProgress(value=0, description='Processing: ', max=4)

Initiated  . . . . . . . . . . . . . . . . . .                   17:31:43
Status     . . . . . . . . . . . . . . . . . .           Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting

Empty DataFrame
Columns: [MAE, MSE, RMSE, R2, RMSLE, MAPE]
Index: []

In [ ]:
plot_model(xgb)

In [14]:
cat_final = finalize_model(cat)

In [15]:
predictions = predict_model(cat_final,data=test_data)

In [16]:
predictions

,permno,yyyymm,AbnormalAccruals,Accruals,AccrualsBM,Activism1,Activism2,AdExp,AgeIPO,AM,...,VolMkt,VolSD,VolumeTrend,XFIN,zerotrade,zerotradeAlt1,zerotradeAlt12,ticker,ret,Label
381,10107,201801,0.01,0.03,NaN,NaN,NaN,0.00,NaN,0.33,...,-0.05,-149.94,0.01,-0.06,0.00,0.00,0.00,MSFT,-86,227.79
382,10107,201802,0.01,0.03,NaN,NaN,NaN,0.00,NaN,0.33,...,-0.05,-150.91,0.01,-0.06,0.00,0.00,0.00,MSFT,-266,449.71
383,10107,201803,0.01,0.03,NaN,NaN,NaN,0.00,NaN,0.34,...,-0.06,-148.52,0.01,-0.06,0.00,0.00,0.00,MSFT,246,275.05
384,10107,201804,0.01,0.03,NaN,NaN,NaN,0.00,NaN,0.34,...,-0.06,-142.11,0.01,-0.06,0.00,0.00,0.00,MSFT,613,256.68
385,10107,201805,0.01,0.03,NaN,NaN,NaN,0.00,NaN,0.32,...,-0.06,-143.04,0.01,-0.06,0.00,0.00,0.00,MSFT,-23,488.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25905,92655,202007,0.00,0.02,NaN,NaN,NaN,NaN,NaN,0.61,...,-0.09,-29.78,-0.00,0.03,0.00,0.00,0.00,UNH,322,372.38
25906,92655,202008,0.00,0.02,NaN,NaN,NaN,NaN,NaN,0.59,...,-0.08,-29.61,-0.00,0.03,0.00,0.00,0.00,UNH,15,292.60
25907,92655,202009,0.00,0.02,NaN,NaN,NaN,NaN,NaN,0.59,...,-0.08,-29.57,-0.00,0.03,0.00,0.00,0.00,UNH,-212,304.26
25908,92655,202010,0.00,0.02,NaN,NaN,NaN,NaN,NaN,0.60,...,-0.08,-29.83,-0.00,0.03,0.00,0.00,0.00,UNH,1022,471.10
25909,92655,202011,0.00,0.02,NaN,NaN,NaN,NaN,NaN,0.54,...,-0.08,-29.42,-0.00,0.03,0.00,0.00,0.00,UNH,463,512.70